/* Responsive pagina 768px*/

@media screen and (max-width:768px){
	.fotografia {
		grid-template-columns: 50% 50%;
		grid-template: 'foto1 foto3' 'foto4  foto4' 'foto5 foto5' 'foto6  foto6' 'foto7 foto2' 'foto7  foto2' 'foto8  foto8';
	}
	.diseno {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		margin: auto;
		width: auto;
	}
	body {
		font-size: 12px;
	}
	.centroPaginaPrincipal{
		display: grid;
		place-items: center;
		margin: 40px 0px 90px;
	}

    body{
        header{
            ul{
                li{
                    a{
                        font-size: 13px; 
                    }
                }
            }
        }
    }

    .soy{
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template:'tituloQ tituloQ tituloQ' 'titDiseno FotDiseno TexDiseno' 'titFoto FotFoto TexFoto' 'titVideo FotVideo TexVideo' ; 					
        }
        .soy img{
            width: $full-width;
        }
    
        .soy__texto{
            width:$full-width*0.8;
        }
    
    }

/*Responsive 560 pagina soy*/
@media screen and (max-width:560px) {
.soy{
	grid-template-columns: 1fr;
	grid-template:'tituloQ' 'titDiseno' 'FotDiseno' 'TexDiseno' 'titFoto' 'FotFoto' 'TexFoto' 'titVideo' 'FotVideo' 'TexVideo' ; 					
	
	}
	
.bloque__texto{
    width: 66%;
}
}



/*Responsive 380px*/

@media screen and (max-width:380px) {
	.fotografia {
		grid-template-columns: 1fr;
		grid-template: 'foto1' 'foto3' 'foto4' 'foto5' 'foto6' 'foto7' 'foto2' 'foto7' 'foto8';
	}
	body {
		font-size: $f-small;
        header{
            ul{
                display: flex;
                flex-direction: column
            }
                li{
                   a{
                    font-size: $f-small;
                   }    
                }
        }
    }
	.diseno {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	
}
